<div class="span4"> 
<div class="uc-box uc-sub-box"> 
 <div class="uc-nav-box"> 
  <div class="box-hd"> 
   <h3 class="title">订单中心</h3> 
  </div> 
  <div class="box-bd"> 
   <ul class="uc-nav-list"> 
    <li class=""><a href="{:U('User/allorder')}">我的订单</a></li>  
   </ul> 
  </div> 
 </div> 
 <div class="uc-nav-box"> 
  <div class="box-hd"> 
   <h3 class="title">个人中心</h3> 
  </div> 
  <div class="box-bd"> 
   <ul class="uc-nav-list"> 
    <li><a href="{:U('User/index')}">我的个人中心</a></li>  
    <li><a href="{:U('User/address')}">收货地址</a></li> 
   </ul> 
  </div> 
 </div> 
 <div class="uc-nav-box"> 
  <div class="box-hd"> 
   <h3 class="title">账户管理</h3> 
  </div> 
  <div class="box-bd"> 
   <ul class="uc-nav-list"> 
    <li><a href="{:U('User/changePsw')}" target="_blank">修改密码</a></li> 
   </ul> 
  </div> 
 </div> 
</div> 
</div> 