<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>  
    <script src="__PUBLIC__/Admin/js/app.min.js"></script>
    <script src="__PUBLIC__/Admin/js/demo.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/dist/css/skins/_all-skins.min.css">
    <style type="text/css">
    *{
      margin: 0px;
      padding: 0px;
    }
    .content-wrapper{
      background: #fff;
    }
    .product{
      margin-top:20px;
      border:1px solid red;
    }
    .product .row{
      margin: 10px 0px;
    }
    .product .row .img{
      width:100px;
      height:100px;
      position: relative;
      float: left;
      margin: 5px;
    }
    .product .row .img img{
      width: 100%;
      height: 100%;
    }
    .product .row .img span{
      width: 10px;
      height: 10px;
      position: absolute;
      top: 0px;
      right: 5px;
      cursor: pointer;
    }
    </style>
    <script type="text/javascript">
    $(function(){
      $(".select-ca1 select").change(function(event) {
        var id = $(this).val();
        $.ajax({
          url: '{:U("Product/getCategory2")}',
          type: 'POST',
          dataType: 'json',
          data: {
            category1_id: id,
          },
          success:function(data){
            var len = data['data'].length;
            var add = '';
            for (var i = 0; i < len; i++) {
              add += '<option value="'+data['data'][i]['category2_id']+'">'+data['data'][i]['category2_name']+'</option>';
            };
            $(".select-ca2 .form-control").empty();
            $(".select-ca2 .form-control").append(add);
          },
          error:function(){
            alert('服务器错误');
          },
        })
      });
      $('.submit a').click(function(event) {
        var category2_id = $('.select-ca2 select').val();
        var name = $('.name1 .product_name').val();
        var specifications = $('.specifications input').val();
        var price = $('.price input').val();
        var info = $('.info textarea').val();
        var stock = $('.stock input').val();
        var product_id = $('.name1 .hidden').val();
        $.ajax({
          url: '{:U("Product/changeSubmit")}',
          type: 'POST',
          dataType: 'json',
          data: {
            product_id: product_id,
            category2_id: category2_id,
            product_name: name,
            product_price: price,
            product_specifications: specifications,
            product_info: info,
            product_stock: stock,
          },
          success:function(data){
            if (data['status'] == 1) {
              alert('修改成功');
            };
          },
          error:function(data){
            alert('系统错误');
          },
        })
      });
      //删除图片
      $('.img-one span.delete').click(function(event) {
        var img_id = $(this).siblings('.img-id').val();
        $.ajax({
          url: '{:U("Product/delete_img")}',
          type: 'POST',
          dataType: 'json',
          data: {id: img_id},
          success:function(data){
            if (data['status'] == 1) {
              window.location.reload();
            };
          },
          error:function(){alert('服务器错误');},
        })
      });
      //
      $(".add-img .submitImg").click(function(event) {
        $.ajax({
          url: '{:U("Product/add_img")}',
          type: 'POST',
          dataType: 'json',
          success:function(data){
            if (data['status'] == 1) {
              window.location.reload();
            };
          },
          error:function(){alert('服务器错误');},
        })
      });
    })
    </script>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <block name="menu"><include file="Base:header"/></block>
      <block name="left"><include file="Base:left"/></block>
      <block name="main">
        <div class="content-wrapper">
          <div class="row">
            <volist name='product' id="vo">
            <div class="col-md-7 col-md-offset-2 product">
              <div class="row name name1">
                <div class="col-md-3 text-right">商品名称：</div>
                <div class="col-md-7">
                  <input type="text" class="form-control product_name" value="{$vo.product_name}" required="required">
                  <input type="hidden" value="{$vo.product_id}" class="hidden" />
                </div>
              </div>
              <div class="row specifications">
                <div class="col-md-3 text-right">商品规格：</div>
                <div class="col-md-7"><input type="text" name="" id="input" class="form-control" value="{$vo.product_specifications}" required="required" pattern="" title=""></div>
              </div>
              <div class="row price">
                <div class="col-md-3 text-right">商品价格：</div>
                <div class="col-md-7"><input type="text" name="" id="input" class="form-control" value="{$vo.product_price}" required="required" pattern="" title=""></div>
              </div>
              <div class="row stock">
                <div class="col-md-3 text-right">商品大类：</div>
                <div class="col-md-7 select-ca1">
                  <select name="" id="input" class="form-control" required="required">
                    <option value="">{$vo.category1_name}</option>
                    <volist name="ca1" id="vo3">
                      <option value="{$vo3.category1_id}">{$vo3.category1_name}</option>
                    </volist>
                  </select>
                </div>
              </div>
              <div class="row stock">
                <div class="col-md-3 text-right">商品小类：</div>
                <div class="col-md-7 select-ca2">
                  <select name="" id="input" class="form-control" required="required">
                    <option value="{$vo.category2_id}">{$vo.category2_name}</option>
                    <volist name="ca2" id="vo4">
                      <option value="{$vo4.category2_id}">{$vo4.category2_name}</option>
                    </volist>
                  </select>
                </div>
              </div>
              <div class="row info">
                <div class="col-md-3 text-right">商品简介：</div>
                <div class="col-md-7"><textarea style="width:100%;height:100px;">{$vo.product_info}</textarea></div>
              </div>
              <div class="row stock">
                <div class="col-md-3 text-right">商品库存：</div>
                <div class="col-md-7"><input type="text" name="" id="input" class="form-control" value="{$vo.product_stock}" required="required"></div>
              </div>
              <div class="row img">
                <div class="col-md-3 text-right">商品图片：</div>
                <div class="col-md-7">
                  <volist name="vo[product_img]" id="vo2">
                    <div class="img img-one">
                      <input type="hidden" value="{$vo2.img_id}" class="img-id" />
                      <img src="{$vo2.img_url}">
                      <span class="glyphicon glyphicon-trash delete" aria-hidden="true"></span>
                    </div>
                  </volist>
                </div>
              </div>
              <div class="row add-img">
                <form action="{:U('Product/add_img')}" enctype="multipart/form-data" method="post" >
                  <div class="col-md-3 text-right">添加图片：</div>
                  <div class="col-md-5"><input type="file" name="img"/></div>
                  <input type="hidden" value="{$vo.product_id}" name="id" />
                  <div class="col-md-2"><input type="submit" value="提交" class="submitImg" ></div>
                </form>
              </div>
              <div class="row stock submit">
                <div class="col-md-1 col-md-offset-5">
                  <a class="btn btn-success">确定</a>
                </div>
              </div>
            </div>
            </volist>
          </div>
        </div>
      </block>
      <block name="footer"><include file="Base:footer"/></block>
    </div>
  </body>
</html>